<%- include('./header.ejs') %>
<section class="cmspage mtb-40">
    <div class="container">
      <h1>About</h1>
      <div class="page-desc"> 
        <div class="row">
          <div class="col-md-9">
            <p>Over the years, the entertainment industry has changed immensely. In the early days, consumers ventured to theaters to watch news clips of the war. Today, you can visit a theater so you can watch a dramatic movie. Furthermore, there is no longer the need to visit a theater since you can watch a lot of movies from the comfort of your home. Many will argue that film is the best form of entertainment and they have a good argument.</p>
            <p>The entertainment industry is diverse so it has something for everyone. Films are one of the best forms of entertainment because they offer something for everyone. They are intense, dramatic, funny, and so much more. Whether you’re feeling up or down, you can guarantee that you’ll be able to find a film that keeps you entertained from start to finish.</p>
          </div>
          <div class="col-md-3">
            <img src="/images/about.jpg" style="height: 269px; width: 290px;">
          </div>
        </div>  
      </div>  
    </div>
</section>
<%- include('./footer.ejs') %>